bin/
lib/
lib64

__pycache__/compass.cpython-310.pyc

api/__pycache__/
api/database/__pycache__/
api/database/__pycache__/.
api/database/__pycache__/handlers.cpython-310.pyc

database/*.sqlite
database/db.sqlite

routes/__pycache__/
routes/__pycache__/__init__.cpython-310.pyc

*.pyc

