body{
  font-family:Arial, Helvetica, sans-serif;
}

#display {
  display: none;
  vertical-align: top;
}

.italic {
  font-style: italic;
}

.panel{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap:10px;
  width:60%;
}

.panelnested{
  display: grid;
  grid-template-columns: 10% 90%;
  grid-gap:10px;
  width:100%;
}

/* main non-compass page layout */
.gutterpanel{
  display: grid;
  grid-template-columns: 20% 70% ;
  grid-gap: 10px;
  width: 100%
}

/* layout for ratings select blocks, to allow for dropdown, 'current' indicator and longer description */
.threecolpanel{
  display: grid;
  grid-template-columns: 20% 5% 65% ;
  grid-gap: 10px;
  width: 100%
}
#manage_quadrants select{
  width:190px;
}

.threecolpanel > div > h4{
    margin-top: 5px;
    margin-bottom: 0px;
}


.offset_top{
  position: relative;
  top:85px;
}

.flyout {
  display: inline-block;
  position: absolute;
}

.flyout > a{
  text-decoration: none;
}

.flyout_block {
  display: inline-block;
  position: relative;
}

/* compass editing */
.panel_selector_tab{
  display:inline-block;
  width:12%;
  cursor: pointer;
  /* margin:5px; */
  padding:10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #555;
  background-color:#aaa;
}

.panel_selector_tab_selected{
  font-weight: bold;
  background-color:#fff;
  border-bottom: 1px solid white; /* simulate a foreground tab */
}

.panelwrapper{
  padding-top: 20px;
  border: 1px solid black;
}

#compass_description{
  /* width:100%;
  height:350px; */
}

#compass_name{

}
/***************************************************
 * UTILITIES
 ***************************************************/

/* see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/transform-function/rotate */
.rotate_90{
  transform: rotate(90deg)
}

.rotate_180{
  transform: rotate(180deg)
}

.rotate_270{
  transform: rotate(270deg)
}

.ellipsis_100pc{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  /* enforce nowrap, so it works */
    width: 100%;
}

/* remove from DOM */
.hidden{
  display: none;
}

/* make non visible (space is still used) */
.non_visible{
  visibility:hidden;
}

.mt_minus_1{
  margin-top: -1px;
}

.pt8{
  padding-top:8px;
}

.min_width_170{
  min-width:170px;
}

.block{
  display: inline-block;
  position:relative;
}

.inline_block{
  display: inline-block;
}


.inline{
  display: inline;
}

.full_width{
  width:100%;
}

/* percentage of bounding box */
.onequarter_height{
  height:25%;
}

.onethird_height{
  height:33%;
}

.half_height{
  height:50%;
}

.twothirds_height{
  height: 67%;
}

.threequarter_height{
  height:75%;
}

.full_height{
  height:100%;
}

/* fixed sizes */
.height_100px{
  height: 100px;
}

.height_200px{
  height: 200px;
}
.height_300px{
  height: 300px;
}
.height_400px{
  height: 400px;
}

.align_bottom{
  align-content: end;
}

/* end utilities */

#select_user{
/* #flyout > select{ */
    width: 180px;
    /* margin-left: 20px; */
    vertical-align: top;
    padding: 10px;
    border-radius: 3px;
    height: 38px;
}

#select_user:hover{
   background-color: lightgray;
}

.inline_icon{
  height: 35px;
  width: 35px;
  /* vertical-align: bottom; */
}


.abs{
  position: absolute;
}

.button{
    background-color: #eee;
    display: inline-block;
    font-size: x-large;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid grey;
    margin-left: 5px;
    border-radius: 3px;
    padding-top: 4px;
    height:32px;
    width: 40px;
    text-align:center;
}

/* https://stackoverflow.com/questions/5069110/remove-hover-css-behavior-from-element */
.button-static{
  pointer-events: none;
  background-color: lightgray;
}

.button:hover {
    background-color: lightgray;
}

.text_left{
  text-align: left;
}

.left_85{
  left:85px;
}

.width_400{
  width:400px;
}

.sml_width{
    width: 60px;
    margin-left: 0px;
    font-size: large;
    height:25px
}

.med_width{
    width: 90px;
    margin-left: 0px;
    font-size: large;
    height:25px;
}

.lg_width{
    width: 180px;
    margin-left: 0px;
    font-size: large;
    height:38px;
    border: 1px solid grey;
    border-radius: 3px;
    position: relative;
    top: -8px;
}

.button > a {
    text-decoration: none;
    color: black;
}

.button img{
  height:28px;
}


/* 
#flyout > a > img {
  width: 40px;
} */

#sector_title_description {
  padding-bottom: 5px;
}

#rating {
  height: 30px;
}



/** 
 * SVG ELEMENT STYLING: 
 */
#svg_compass {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 1152;
  height: 900px;
  z-index: -1;
}

.svg_title {
  fill: white;
  stroke: #888;
  stroke-width: 2px;
}

/* 
initially hide in markup, these elements 
*/
.svg_hide {
  fill: none;
}

/* 
define title style for each quadrant 
*/
.svg_quad_title{
  fill:none;
  font-weight: bold;
  font-size: 24px;
  /* wrap:
  see https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/white-space 
  */
  white-space: normal;
  max-width: 200px;
}

/* 
define title and box colour for each auto-generated quadrant class name: 
*/
.svg_quadrant_1{
  stroke: green;
}

.svg_quadrant_2{
  stroke: blue;
}

.svg_quadrant_3{
  stroke: darkred
}

.svg_quadrant_4{
  stroke: darkorange;
}

/* 
Style any sector blocks that have been previously flagged by the user 
*/
.svg_show.q1 {
  fill: lightgreen;
}
.svg_show.q2 {
  fill: lightblue;
}
.svg_show.q3 {
  fill: lightpink;
}
.svg_show.q4 {
  fill: #ffffc6;
}

/* 
Trigger the visual highlight (via the javascript) on hover: 
NOTE: This needs to be after the four above, so that the hover
colour overrides the exisitng style, if present:
*/
.svg_hover.q1 {
  fill: green;
}
.svg_hover.q2 {
  fill:blue;
}
.svg_hover.q3 {
  fill: rgb(255, 141, 160);
}
.svg_hover.q4 {
  fill: yellow;
}

/* quad edit */

.inlineblock{
	display: inline-block;
}

.gutter{
  width:100px;
}

.fillwidth{
  width: 100%;
}