<html>
<head>
	<title>Compass interactive: Configure Compasses</title>
	<link type="text/css" href="/static/css/styles2.css" rel="stylesheet" />
	<link href="/static/images/favicon.jpg" rel="icon" />
</head>
<body data-page="configure">
	<div id="flyout" class="flyout block">
		<h1>
			<div class="button ">
				<a href="/" title="Home">
					<img src="/static/images/home-2-64.png" alt="Home" title="Home" />
				</a>
			</div>
			<div class="button ">
				<a href="#" title="Help">
					<img src="/static/images/help-64.png" alt="Help" title="Help" />
				</a>
			</div>
			<div class="button inline_block">
				<a href="/configure/" title="Configure Compass">
					<img src="/static/images/gear-settings-64.png" alt="Settings gear icon" title="Configure Compass" />
				</a>
			</div>
			{% if compass_data %}
			Configure Compass '{{compass_data.title}}'
			{% else %}
			Add new Compass
			{% endif %}
		</h1>
	</div>
	
	<div class="tabswrapper">
		<div data-tabid="1" class="pt-0 panel_selector_tab panel_selector_tab_selected" id="tab_1">
			<img class="tab_icon" src="/static/images/gear-settings-icon_outline.png" alt="Basic settings" title="Basic settings" />
			Compass general
		</div>
		<div data-tabid="2" class="pt-0 panel_selector_tab " id="tab_2">
			<img class="tab_icon" src="/static/images/one-quarter_trans.png" alt="Quadrant 1 icon" title="Quadrant 1" />
			Quadrant 1
		</div>
		<div data-tabid="3" class="pt-0 panel_selector_tab" id="tab_3">
			<img class="tab_icon rotate_90" src="/static/images/one-quarter_trans.png" alt="Home" title="Quadrant 2" />
			Quadrant 2
		</div>
		<div data-tabid="4" class="pt-0 panel_selector_tab" id="tab_4">
			<img class="tab_icon rotate_180" src="/static/images/one-quarter_trans.png" alt="Home" title="Quadrant 3" />
			Quadrant 3
		</div>
		<div data-tabid="5" class="pt-0 panel_selector_tab" id="tab_5">
			<img class="tab_icon rotate_270" src="/static/images/one-quarter_trans.png" alt="Home" title="Quadrant 4" />
			Quadrant 4
		</div>
		<div data-tabid="6" class="pt-0 panel_selector_tab" id="tab_6">
			<img class="tab_icon" src="/static/images/bar-chart-5-xxl.png" alt="Ratings configuration" title="Ratings configuration" />
			Ratings
		</div>
	</div>

	<div>
	<!-- 
	server-generated lookup data
	see https://stackoverflow.com/questions/12145434/how-to-output-loop-counter-in-python-jinja-template 
	-->
{% for sector in sectors %}
		<div id="sector_description_{{loop.index}}" class="hidden">{{sector.description}}</div>
		<div id="sector_summary_{{loop.index}}" class="hidden">{{sector.summary}}</div>
		{% endfor %}

{% for rating in ratings %}
		<div id="rating_description_{{loop.index}}" class="hidden">{{rating.description}}</div>{% endfor %}

{% for quadrant in quadrants %}
		<div id="quadrant_description_{{loop.index}}" class="hidden">{{quadrant.quadrant_description}}</div>
		<div id="quadrant_summary_{{loop.index}}" class="hidden">{{quadrant.quadrant_summary}}</div>
		{% endfor %}
	</div>

	<div class="panelwrapper h-70pc mt_minus_1">

		<!-- configure general properties -->
		<div class="p5" data-panelid="1" data-identifier="gutterpanel">
			<h3>Manage Compass basics</h3>
			<div>
				<div>
					<p>
						Enter the basic properties of this compass. 
					</p>
					<p>
						You can also manage the components of the compass (quadrants, sectors, ratings)
						from the tabs in this page.
					</p>
					<p>
						[link to relevant component management pages]
					</p>
				</div>
			</div>

			<input class="hidden" type="text" data-fieldname="id" id="compass_id" disabled="disabled" 
				{% if compass_data %}
					value="{{compass_data.id}}"
				{% else %}
					value="-1"
				{% endif %}
			>
			<div class="gutterpanel">
				<h4>Compass name</h4>
				<input type="text" data-fieldname="name" id="compass_name"
					{% if compass_data %}
					value="{{ compass_data.title }}"
					{% endif %}	
				>
			</div>
			<!-- row 3 -->
			<div class="gutterpanel">
				<h4>Compass Description</h4>
				<textarea rows="10" class="br-var"
					style="--br:10px;"
					id="compass_description" 
					class="full_width height_300px" 
					datafield-name="compass_description"
					>{% if compass_data %}{{ compass_data.description.strip() }}{% endif %}</textarea>
			</div>
		</div> 

		<!-- Q1 edit -->
		<div class="p5 hidden" data-panelid="2" data-identifier="gutterpanel">
			<h3>Manage Quadrant 1</h3>
			<div>
				<div>
					<p>
						text TODO
					</p>
					<p>
						[link to relevant component management pages]
					</p>
				</div>
			</div>

			<div>
			<!-- outer wrapper -->
			<!-- TODO: I also need to pass in the DOM IDs (or, aty least a way to 
			  mathematically construct them) so the rendered HTML elements do not 
			  regress from having the unique IDs and data-attributes 
			 OK, sectorcount currently acts as a boolean... 

			 Also, the sector identifiers are incremental all the way round the compass -
			 so we need to explicitly provie an array of ints (or strings) that the nested 
			 template component can use to flag the sector IDs etc.
			  -->
			{% with data=( { "quadrant_index":0, "sector_identifiers":[1,2,3,4,5],"sectorcount":5,"quadrant_id_prefix":1, "compass_data":compass_data, "quadrant_titles":quadrant_titles, "sectors":sectors, "sector_titles":sector_titles }) %}
  				{% include "components/configure_quadrant.html" %}
			{% endwith %}

			</div>
			<!-- end outer wrapper -->
		</div>

		<!-- Q2 edit -->
		<div class="p5 hidden" data-panelid="3" data-identifier="gutterpanel">
			<h3>Manage Quadrant 2</h3>
			<div>
				[intro content]
			</div>

			<!-- outer wrapper -->
			<div>

			{% with data=( { "quadrant_index":1, "sector_identifiers": [6,7,8,9], "sectorcount":4,"quadrant_id_prefix":2, "compass_data":compass_data, "quadrant_titles":quadrant_titles, "sectors":sectors, "sector_titles":sector_titles }) %}
  				{% include "components/configure_quadrant.html" %}
			{% endwith %}

			</div>
			<!-- end outer wrapper -->
		</div>

		<!-- Q3 edit -->
		<div class="p5 hidden" data-panelid="4" data-identifier="gutterpanel">
			<h3>Manage Quadrant 3</h3>
			<div>
				[intro content]
			</div>

			<!-- outer wrapper -->
			<div>

			{% with data=( { "quadrant_index":2, "sector_identifiers": [10,11,12,13], "sectorcount":4,"quadrant_id_prefix":3, "compass_data":compass_data, "quadrant_titles":quadrant_titles, "sectors":sectors, "sector_titles":sector_titles }) %}
  				{% include "components/configure_quadrant.html" %}
			{% endwith %}

			</div>
			<!-- end outer wrapper -->

		</div>

		<!-- Q4 edit -->
		<div class="p5 hidden" data-panelid="5" data-identifier="gutterpanel">
			<h3>Manage Quadrant 3</h3>
			<div>
				[intro content]
			</div>

			<!-- outer wrapper -->
			<div>

			{% with data=( { "quadrant_index":3, "sector_identifiers": [14,15,16,17], "sectorcount":4,"quadrant_id_prefix":4, "compass_data":compass_data, "quadrant_titles":quadrant_titles, "sectors":sectors, "sector_titles":sector_titles }) %}
  				{% include "components/configure_quadrant.html" %}
			{% endwith %}

			</div>
			<!-- end outer wrapper -->

		</div>

		<!-- configure ratings -->
		<div class="gutterpanel hidden" data-panelid="6" data-identifier="gutterpanel">
			<div>
				<h3>
					Ratings
				</h3>
			</div>
			<div>
				<p>Here, you can specify which of the rating descriptions should be applied to each of the competency levels 
				for this compass. Every Compass has seven competency levels and a Rating can be assigned to each from the 
				pool of available Ratings.</p>
				<p>
					You can also configure additional Ratings <a href="#" title="Configure Ratings">here</a> if so required.
				</p>

				<div class="threecolpanel">
					<!-- Rating 1 -->
					<div>
						<h4>Rating 1 (least)</h4>
						<select name="rating_1" id="rating_1" data-fieldname="rating_1" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[0].id %} selected="selected" {% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_1_description_changed" class="align_bottom" title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_1_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[0] %}{{ compass_data.rating_description_lookup[0].description }}{% endif %}
						</div>
					</div>
					
					<!-- Rating 2 -->
					<div>
						<h4>Rating 2</h4>
						<select name="rating_2" id="rating_2" data-fieldname="rating_2" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[1].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_2_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_2_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[1] %}{{ compass_data.rating_description_lookup[1].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 3 -->
					<div>
						<h4>Rating 3</h4>
						<select name="rating_3" id="rating_3" data-fieldname="rating_3" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[2].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_3_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_3_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[2] %}{{ compass_data.rating_description_lookup[2].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 4 -->
					<div>
						<h4>Rating 4</h4>
						<select name="rating_4" id="rating_4" data-fieldname="rating_4" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[3].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_4_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_4_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[3] %}{{ compass_data.rating_description_lookup[3].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 5 -->
					<div>
						<h4>Rating 5</h4>
						<select name="rating_5" id="rating_5" data-fieldname="rating_5" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[4].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_5_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_5_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[4] %}{{ compass_data.rating_description_lookup[4].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 6 -->
					<div>
						<h4>Rating 6</h4>
						<select name="rating_6" id="rating_6" data-fieldname="rating_6" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[5].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_6_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_6_description"  data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[5] %}{{ compass_data.rating_description_lookup[5].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 7 -->
					<div>
						<h4>Rating 7 (most)</h4>
						<select name="rating_7" id="rating_7" data-fieldname="rating_7" data-identifier="rating_dropdown">
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[6].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_7_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block ellipsis_100pc" id="rating_7_description" data-identifier="rating_description">
							{% if compass_data and compass_data.rating_description_lookup[6] %}{{ compass_data.rating_description_lookup[6].description }}{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div>
			</div>
		</div> 
	</div>

	<!-- Submit -->
	<div class="panelwrapper small">
		<div class="p5">
		<div class="gutterpanel mt-0">
			<h4 class="h4-tall">Save changes</h4>
			{% if compass_data %}
				<input type="button" data-action="update" class="btn_base" id="btn_submit_compass_data" value="Update existing Compass"/>
			{% else %}
				<input type="button" data-action="add" class="btn_base" id="btn_submit_compass_data" value="Create new Compass"/>
			{% endif %}

			<!-- <h4>Messages</h4>
			<div id="message">[nothing submitted yet - TODO:]</div> -->
		</div>
		</div>
	</div>

</body>
<!-- <script src="/static/js/engine2.js"></script> -->
 <script src="/static/js/engine-config-compass.js"></script>
</html>