<html>

<head>
	<title>
		Compass interactive: Configure Compasses
	</title>
	<link type="text/css" href="/static/css/styles2.css" rel="stylesheet" />
	<link type="text/css" href="/static/css/tabber.css" rel="stylesheet" />
	<!-- <link type="text/css" href="/static/css/gridder.css" rel="stylesheet" /> -->
	<link href="/static/images/favicon.jpg" rel="icon" />
</head>

<body data-page="configure">

	<!-- 
	  'flyout has position:fixed', so it overlies the image.
	  Therefore, I need to give it an inline-block override if 
	  no compass big image:
	-->
	<div id="flyout" class="flyout block">
		<h1>
			<div class="button ">
				<a href="/" title="Home">
					<img src="/static/images/home-2-64.png" alt="Home" title="Home" />
				</a>
			</div>
			<div class="button ">
				<a href="#" title="Help">
					<img src="/static/images/help-64.png" alt="Help" title="Help" />
				</a>
			</div>
			<div class="button inline_block">
			<a href="/configure/" title="Configure Compass">
				<img src="/static/images/gear-settings-64.png" alt="Settings gear icon" title="Configure Compass" />
			</a>
		</div>
			{% if compass_data %}
			Configure Compass '{{compass_data.title}}'
			{% else %}
			Add new Compass
			{% endif %}
		</h1>
	</div>
	
	<div class="tabswrapper">
		<div data-tabid="1" class="panel_selector_tab panel_selector_tab_selected" id="tab_1">Compass general</div>
		<div data-tabid="2" class="panel_selector_tab " id="tab_2">Quadrant 1</div>
		<div data-tabid="3" class="panel_selector_tab" id="tab_3">Quadrant 2</div>
		<div data-tabid="4" class="panel_selector_tab" id="tab_4">Quadrant 3</div>
		<div data-tabid="5" class="panel_selector_tab" id="tab_5">Quadrant 4</div>
		<div data-tabid="6" class="panel_selector_tab" id="tab_6">Ratings</div>
	</div>

<form id="compass_wrapper">

	<div class="panelwrapper mt_minus_1">

	<!-- configure ratings -->
		<div class="gutterpanel" data-panelid="1">
			<h2>
				<div class="button button-static inline_block ">
					<!-- <img src="/static/images/one-quarter.svg" class="rotate_270" alt="Home"  -->
					<img src="/static/images/gear-settings-icon_outline.png" alt="Basic settings" title="Basic settings" />
				</div>
				Basic settings
			</h2>
			<div>&nbsp;</div>
			<div></div><input type="text" data-fieldname="id" id="compass_id" disabled="disabled" 
				{% if compass_data %}
					value="{{compass_data.id}}"
				{% else %}
					value="-1"
				{% endif %}
			>
			<div>Compass name</div><div><input type="text" data-fieldname="name" id="compass_name"
				{% if compass_data %}
				value="{{ compass_data.title }}"
				{% endif %}	
			></div>
			<!-- row 3 -->
			<div>Compass Description (TODO:)</div>
			<div>
				<textarea id="compass_description" class="full_width height_300px" datafield-name="compass_description"></textarea>
			</div>
		</div> 

		<!-- Q1 edit -->
		<div class="gutterpanel hidden" data-panelid="2">
			<div>
				<h2>
					<div class="button button-static inline_block">
						<img src="/static/images/one-quarter_trans.png" alt="Home" title="Quadrant 1" />
					</div>
					Quadrant 1
				</h2>
			</div>
			<div>
				<div class="panelnested">
					<div>Title #1</div>
					<select data-fieldname="q1_tp1">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[0].title[0].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Title #2</div>
					<select data-fieldname="q1_tp2">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[0].title[1].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Summary</div>
					<select data-fieldname="quadrant_1">

						{% for quadrant in quadrants %}
						<option value="{{ quadrant.id }}" {% if compass_data and
							quadrant.id==compass_data.data_quadrants[0].id %} selected="selected" {% endif %}>{{
							quadrant.quadrant_summary }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="panelnested">
					<div>Sector 1</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q1_s1_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[0].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q1_s1_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[0].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_1_sector_1">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[0].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 2</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q1_s2_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[1].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q1_s2_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[1].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_1_sector_2">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[1].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 3</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q1_s3_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[2].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q1_s3_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[2].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_1_sector_3">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[2].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 4</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q1_s4_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[3].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q1_s4_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[3].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_1_sector_4">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[3].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 5</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q1_s5_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[4].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q1_s5_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[0].sectors[4].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_1_sector_5">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[4].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Q2 edit -->
		<div class="gutterpanel hidden" data-panelid="3">
			<div>
				<h2>
					<div class="button button-static inline_block ">
						<img src="/static/images/one-quarter_trans.png" class="rotate_90" alt="Home"
							title="Quadrant 2" />
					</div>
					Quadrant 2
				</h2>
			</div>
			<div>
				<div class="panelnested">
					<div>Title #1</div>
					<select data-fieldname="q2_tp1">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[1].title[0].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Title #2</div>
					<select data-fieldname="q2_tp2">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[1].title[1].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Summary</div>
					<select data-fieldname="quadrant_2">
						
						{% for quadrant in quadrants %}
						<option value="{{ quadrant.id }}" {% if compass_data and
							quadrant.id==compass_data.data_quadrants[1].id %} selected="selected" {% endif %}>{{
							quadrant.quadrant_summary }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="panelnested">
					<div>Sector 1</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q2_s1_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[0].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q2_s1_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[0].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_2_sector_1">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[1].sectors[0].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>

					</div>

					<div>Sector 2</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q2_s2_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[1].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q2_s2_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[1].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_2_sector_2">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[1].sectors[1].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 3</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q2_s3_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[2].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q2_s3_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[2].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_2_sector_3">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[1].sectors[2].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 4</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q2_s4_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[3].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q2_s4_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[1].sectors[3].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_2_sector_4">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[1].sectors[3].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Q3 edit -->
		<div class="gutterpanel hidden" data-panelid="4">
			<div>
				<h2>
					<div class="button button-static inline_block ">
						<img src="/static/images/one-quarter_trans.png" class="rotate_180" alt="Home"
							title="Quadrant 3" />
					</div>
					Quadrant 3
				</h2>
			</div>
			<div>
				<div class="panelnested">
					<div>Title #1</div>
					<select data-fieldname="q3_tp1">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[2].title[0].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Title #2</div>
					<select data-fieldname="q3_tp2">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[2].title[1].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Summary</div>
					<select data-fieldname="quadrant_3">
						
						{% for quadrant in quadrants %}
						<option value="{{ quadrant.id }}" {% if compass_data and
							quadrant.id==compass_data.data_quadrants[2].id %} selected="selected" {% endif %}>{{
							quadrant.quadrant_summary }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="panelnested">
					<div>Sector 1</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q3_s1_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[0].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q3_s1_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[0].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_3_sector_1">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[0].sectors[2].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>

					</div>

					<div>Sector 2</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q3_s2_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[1].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q3_s2_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[1].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_3_sector_2">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[2].sectors[1].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 3</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q3_s3_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[2].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q3_s3_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[2].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_3_sector_3">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[2].sectors[2].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 4</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q3_s4_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[3].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q3_s4_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[2].sectors[3].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_3_sector_4">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[2].sectors[3].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Q4 edit -->
		<div class="gutterpanel hidden" data-panelid="5">
			<div>
				<h2>
					<div class="button button-static inline_block ">
						<!-- <img src="/static/images/one-quarter.svg" class="rotate_270" alt="Home"  -->
						<img src="/static/images/one-quarter_trans.png" class="rotate_270" alt="Home" title="Quadrant 4" />
					</div>
					Quadrant 4
				</h2>
			</div>
			<div>
				<div class="panelnested">
					<div>Title #1</div>
					<select data-fieldname="q4_tp1">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[3].title[0].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Title #2</div>
					<select data-fieldname="q4_tp2">
						
						{% for title_part in quadrant_titles %}
						<option value="{{ title_part.id }}" {% if compass_data and
							title_part.id==compass_data.data_quadrants[3].title[1].id %} selected="selected" {% endif
							%}>{{ funcs.replace_empty_string(title_part.title_part) }}</option>
						{% endfor %}
					</select>

					<div>Summary</div>
					<select data-fieldname="quadrant_4">
						
						{% for quadrant in quadrants %}
						<option value="{{ quadrant.id }}" {% if compass_data and
							quadrant.id==compass_data.data_quadrants[3].id %} selected="selected" {% endif %}>{{
							quadrant.quadrant_summary }}</option>
						{% endfor %}
					</select>
				</div>

				<div class="panelnested">
					<div>Sector 1</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q4_s1_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[0].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q4_s1_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[0].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_4_sector_1">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[3].sectors[0].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>

					</div>

					<div>Sector 2</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q4_s2_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[1].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q4_s2_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[1].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_4_sector_2">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[3].sectors[1].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 3</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q4_s3_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[2].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q4_s3_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[2].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>

						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_4_sector_3">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[3].sectors[2].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>

					<div>Sector 4</div>
					<div>
						<div>
							Title #1
							<select data-fieldname="q4_s4_tp1">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[3].title[0].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<div>
							Title #2
							<select data-fieldname="q4_s4_tp2">
								
								{% for title_part in sector_titles %}
								<option value="{{ title_part.id }}" 
								{% if compass_data and title_part.id==compass_data.data_quadrants[3].sectors[3].title[1].id %}
								selected="selected" 
								{% endif %}>
								{{ funcs.replace_empty_string(title_part.title_part) }}
								</option>
								{% endfor %}
							</select>
						</div>
						<!-- and get sector summary/descriptions: -->
						<div> 
							Text
							<select data-fieldname="quadrant_4_sector_4">
								
								{% for sector in sectors %}
								<option value="{{ sector.id }}" 
								{% if compass_data and
									sector.id==compass_data.data_quadrants[3].sectors[3].id %} selected="selected" {% endif %}>{{
									sector.summary }}</option>
								{% endfor %}
							</select>
							Note this will select summary and longer description text.
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- configure ratings -->
		<div class="gutterpanel hidden" data-panelid="6">
			<div>
				<h2>
					<div class="button button-static inline_block ">
						<img src="/static/images/bar-chart-5-xxl.png" alt="Ratings configuration"
							title="Ratings configuration" />
					</div>
					Ratings
				</h2>
			</div>
			<div>
				<h3>Configure Compass Ratings</h3>
				<p>Here, you can specify which of the rating descriptions should be applied to each of the competency levels 
				for this compass. Every Compass has seven competency levels and a Rating can be assigned to each from the 
				pool of available Ratings.</p>
				<p>
					You can also configure additional Ratings <a href="#" title="Configure Ratings">here</a> if so required.
				</p>
	
				<!-- see https://stackoverflow.com/questions/12145434/how-to-output-loop-counter-in-python-jinja-template -->
				{% for rating in ratings %}
				<div id="rating_description_{{loop.index}}" class="hidden">{{rating.description}}</div>
				{% endfor %}

				<div class="threecolpanel">
					<!-- Rating 1 -->
					<div>
						<h4>Rating 1 (least)</h4>
						<select name="rating_1" id="rating_1" data-fieldname="rating_1" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[0].id %} selected="selected" {% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_1_description_changed" class="align_bottom" title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_1_description">
							{% if compass_data and compass_data.rating_description_lookup[0] %}{{ compass_data.rating_description_lookup[0].description }}{% endif %}
						</div>
					</div>
					
					<!-- Rating 2 -->
					<div>
						<h4>Rating 2</h4>
						<select name="rating_2" id="rating_2" data-fieldname="rating_2" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[1].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_2_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_2_description">
							{% if compass_data and compass_data.rating_description_lookup[1] %}{{ compass_data.rating_description_lookup[1].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 3 -->
					<div>
						<h4>Rating 3</h4>
						<select name="rating_3" id="rating_3" data-fieldname="rating_3" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[2].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_3_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_3_description">
							{% if compass_data and compass_data.rating_description_lookup[2] %}{{ compass_data.rating_description_lookup[2].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 4 -->
					<div>
						<h4>Rating 4</h4>
						<select name="rating_4" id="rating_4" data-fieldname="rating_4" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[3].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_4_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_4_description">
							{% if compass_data and compass_data.rating_description_lookup[3] %}{{ compass_data.rating_description_lookup[3].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 5 -->
					<div>
						<h4>Rating 5</h4>
						<select name="rating_5" id="rating_5" data-fieldname="rating_5" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[4].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_5_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_5_description">
							{% if compass_data and compass_data.rating_description_lookup[4] %}{{ compass_data.rating_description_lookup[4].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 6 -->
					<div>
						<h4>Rating 6</h4>
						<select name="rating_6" id="rating_6" data-fieldname="rating_6" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[5].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_6_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_6_description">
							{% if compass_data and compass_data.rating_description_lookup[5] %}{{ compass_data.rating_description_lookup[5].description }}{% endif %}
						</div>
					</div>

					<!-- Rating 7 -->
					<div>
						<h4>Rating 7 (most)</h4>
						<select name="rating_7" id="rating_7" data-fieldname="rating_7" data-identifier="rating_dropdown">
							
							{% for rating in ratings %}
							<option value="{{rating.id}}"
							{% if compass_data and rating.id  == compass_data.rating_description_lookup[6].id %}
							selected="selected"
							{% endif %}
							>{{rating.title}}
							</option>
							{% endfor %}
						</select>
					</div>
					<div id="rating_7_description_changed" class="align_bottom"  title="Changed">
					</div>
					<div>
						<h4>Description</h4>
						<div class="inline_block" id="rating_7_description">
							{% if compass_data and compass_data.rating_description_lookup[6] %}{{ compass_data.rating_description_lookup[6].description }}{% endif %}
						</div>
					</div>
				</div>
			</div>
			<div>

			</div>
		</div> 
	</div>

	</form>

	<!-- Submit -->
	<div class="panel">
		<div>Submit:</div>
		<div>
			<div class="button med_width" id="btn_submit_compass_data"
				{% if compass_data %}
				data-action="update"
				>
				<a href="#" title="Update Compass">update</a>
				{% else %}
				data-action="add"
				>
				<a href="#" title="Add Compass">add new</a>
				{% endif %}
			</div>
		</div>
		<div></div>
		<div id="message"></div>
	</div>
</body>
<script src="/static/js/engine2.js"></script>

</html>