<!DOCTYPE html>
<html>
    <head>
        <title>Dummy page</title>
    </head>
    <body>
        <ul>
            <li>COMPASS_DATA: {{ compass_data }}</li>
            <li>QUADRANTS: {{quadrants}}</li>
            <li>QUAD TITLES: {{quadrant_titles}}</li>
            <li>SECTORS: {{sectors}}</li>
            <li>SECTOR TITLES: {{sector_titles}}</li>
            <li>RATINGS: {{ratings}}</li>
            <li>FUNCS: {{funcs}}</li>
        </ul>
        
        <h1>Dummy page</h1>
    </body>
</html>