<html>
<head>
	<title>
	Compass interactive: User edit
	</title>
		<link type="text/css" href="/static/css/styles2.css" rel="stylesheet" />
		<link href="/static/images/favicon.jpg" rel="icon" />
</head>
<body data-page="update_user">

<h1>
	<div class="button button-static inline_block">
		<img src="/static/images/edit-user-64.png" alt="Edit user icon" title="Edit user" />
	</div>
	Edit User {{ user.name }}</h1>

<div class="panel">
	<div>Login:</div><input disabled="disabled" value="{{ user.username }}" name="update_user_login" id="update_user_login" placeholder="Update user login"/>
	<div>Name:</div> <input type="text" value="{{ user.name }}" name="update_user_name" id="update_user_name" placeholder="Update user name" />
	<div>Email:</div><input type="text" value="{{ user.email }}" name="update_user_email" id="update_user_email" placeholder="Update user email" />
	<!-- <div>Update password:</div><input type="password" name="update_user_pwd" id="update_user_pwd" placeholder="Update password" />
	<div>Update password (repeat):</div><input type="password" name="update_user_pwd_repeat" id="update_user_pwd_repeat" placeholder="Update password (verify)" /> -->
	<input type="hidden" name="update_user_id" id="update_user_id" value="{{ user.id }}"/>
	<div>Submit:</div> 

	<div>
		<div class="button sml_width" id="btn_update_user">
			<a href="#" title="Update User">update</a>
		</div>
		<div class="button med_width">
			<a href="/{{ user.id }}/" title="Cancel">cancel</a>
		</div>
	</div>
	<div id="message"></div>
</div>


</body>
<script src="/static/js/engine2.js"></script>
</html>
