<!-- outer wrapper -->
				<div>
                    <div class="gutterpanel">
					<!-- Rating {{data.rating_identifier}} -->
						<h4>Rating {{data.rating_identifier}}</h4>
						<div>
							<select 
                                name="rating_{{data.rating_identifier}}" 
                                id="rating_{{data.rating_identifier}}" 
                                data-fieldname="rating_{{data.rating_identifier}}" 
                                data-identifier="rating_dropdown"
                                title="{% if compass_data and compass_data.rating_description_lookup[data.rating_index] %}{{ compass_data.rating_description_lookup[data.rating_index].title }}{% endif %}"
                            >{% for rating in ratings %}  {% if compass_data and rating.id  == compass_data.rating_description_lookup[data.rating_index].id %}
								<option value="{{rating.id}}" selected="selected" >* {{ funcs.truncate_displayed_text(rating.title) }}</option>{% else %}
								<option value="{{rating.id}}">{{ funcs.truncate_displayed_text(rating.title) }}</option>{% endif %} {% endfor %}
							</select>
							{% if compass_data %}
							<a href="#" 
								title="Edit currently assigned component"
								id="edit_rating_{{data.rating_identifier}}" 
								data-current-id="{{compass_data.rating_description_lookup[data.rating_index].id}}"  
								data-identifier='rating_edit_links'>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
									data-current-id="{{compass_data.rating_description_lookup[data.rating_index].id}}"
									class="v-centre button_orange"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
									<!-- need the additional attribute here, otherwise I sometimes get the ID passed as null -->
									<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" 
										data-current-id="{{compass_data.rating_description_lookup[data.rating_index].id}}" />
									<path d="M16 5l3 3" />
								</svg></a>
						    {%endif%}
							<div class="ellipsis_100pc" id="rating_{{data.rating_identifier}}_description" data-identifier="rating_description">
								<span>
									{% if compass_data and compass_data.rating_description_lookup[data.rating_index] %}
										{{ compass_data.rating_description_lookup[data.rating_index].description }}
									{% else %}
										&nbsp;	
									{% endif %}
								</span>
							</div>
							<!-- <div class="gutterpanel">
								<div>x</div>
								<div class="ellipsis_100pc" id="rating_{{data.rating_identifier}}_description" data-identifier="rating_description">
									<span>{% if compass_data and compass_data.rating_description_lookup[data.rating_index] %}{{ compass_data.rating_description_lookup[data.rating_index].description }}{% endif %}</span>
								</div>
							</div> -->
							
							
						</div>
						
						<!-- <div>Description</div>
						<div class="inline_block ellipsis_100pc" id="rating_{{data.rating_identifier}}_description" data-identifier="rating_description">
							<span>{% if compass_data and compass_data.rating_description_lookup[data.rating_index] %}{{ compass_data.rating_description_lookup[data.rating_index].description }}{% endif %}</span>
						</div> -->
					</div>
                </div>