					<h4>{{ data.heading }}</h4>
					<div>
						<div>
							<!-- Title #1 - could use this instead: `class=w-var" style="--w:120px;"` -->
							<div class="italics inline_block w-100">Title parts: </div>
							<select data-fieldname="q{{ data.parent_data.quadrant_id_prefix }}_s{{ data.sector_id_prefix }}_tp1">
                                <!-- CARE!! This will, by default use parent hierarchy template variables. Therefore, we need to pass the correct context -->
								{% for title_part in sector_titles %} 
									{% if compass_data and title_part.id==compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[0].id %}
								<option value="{{ title_part.id }}" selected="selected">* {{ funcs.replace_empty_string(title_part.title_part) }} </option>
									{% else %}
								<option value="{{ title_part.id }}"> {{ funcs.replace_empty_string(title_part.title_part) }} </option>
									{% endif %}
								{% endfor %}
							</select>
							{% if compass_data %}
							<a href="#" 
								title="Edit currently assigned component"
								id="edit_sector_title_1_q{{data.parent_data.quadrant_id_prefix}}_s{{data.sector_id_prefix}}" 
								data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[0].id}}"  
								data-identifier='sector_title_edit_links'>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
									data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[0].id}}"
									class="v-centre button_orange"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
									<!-- need the additional attribute here, otherwise I sometimes get the ID passed as null -->
									<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" 
										data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[0].id}}" />
									<path d="M16 5l3 3" />
								</svg></a>
						    {%endif%}

							<!-- Title #2 -->
                            <!-- {{ data.parent_data.quadrant_id_prefix }} this is just for debugging -->
							<select data-fieldname="q{{ data.parent_data.quadrant_id_prefix }}_s{{ data.sector_id_prefix }}_tp2">
								{% for title_part in sector_titles %}
									{% if compass_data and title_part.id==compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[1].id %}
								<option value="{{ title_part.id }}" selected="selected">* {{ funcs.replace_empty_string(title_part.title_part) }} </option>
									{% else %}
								<option value="{{ title_part.id }}"> {{ funcs.replace_empty_string(title_part.title_part) }} </option>
									{% endif %}								
								{% endfor %}
							</select>
							{% if compass_data %}
							<a href="#" 
								title="Edit currently assigned component"
								id="edit_sector_title_2_q{{data.parent_data.quadrant_id_prefix}}_s{{data.sector_id_prefix}}" 
								data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[1].id}}"  
								data-identifier='sector_title_edit_links'>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
									data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[1].id}}"
									class="v-centre button_orange"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
									<!-- need the additional attribute here, otherwise I sometimes get the ID passed as null -->
									<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" 
										data-current-id="{{compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].title[1].id}}" />
									<path d="M16 5l3 3" />
								</svg></a>
						    {%endif%}

							
							<div class="italics inline_block w-100">Summary: </div><!-- {{data.parent_data.sector_identifiers[data.sector_index]}} -->
							<select 
								class="inline_block" 
								title="{% if compass_data and compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].id %}  {{ compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].summary }}  {% endif %}" 
								id="sector_{{data.parent_data.sector_identifiers[data.sector_index]}}" 
								data-fieldname="quadrant_{{ data.parent_data.quadrant_id_prefix }}_sector_{{ data.sector_id_prefix }}"  
								data-identifier="sector_dropdown"
							>{% for sector in sectors %} {% if compass_data and sector.id==compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].id %}
											<option value="{{ sector.id }}"selected="selected">* {{ funcs.truncate_displayed_text(sector.summary) }}</option> {% else %}
											<option value="{{ sector.id }}">{{ funcs.truncate_displayed_text(sector.summary) }}</option> {% endif %} {% endfor %}
							</select>
							<!-- edit icons here - if the select is changed, the JS needs to update this link... -->
							{% if compass_data %}
							<a href="#" id="edit_sector_{{data.parent_data.sector_identifiers[data.sector_index]}}" data-current-id="{{ compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].id }}"  data-identifier='sector_edit_links'>
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" 
									data-current-id="{{ compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].id }}"
									class="v-centre button_orange"
								>
									<path stroke="none" d="M0 0h24v24H0z" fill="none" />
									<path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
									<!-- need the additional attribute here, otherwise I sometimes get the ID passed as null -->
									<path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415" 
										data-current-id="{{ compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].id }}" />
									<path d="M16 5l3 3" />
								</svg>
							</a>
							{%endif%}
						</div>

						<!-- and get sector summary/descriptions: -->
						 <!-- {{data.parent_data.sector_identifiers[data.sector_index]}} -->
						<div class="inline_block ellipsis_100pc mt-10" id="sector_{{data.parent_data.sector_identifiers[data.sector_index]}}_description" data-identifier="sector_description">
							<div class="italics inline_block w-100">Description: </div>
							<span>{% if compass_data %} {{ compass_data.data_quadrants[data.parent_data.quadrant_index].sectors[data.sector_index].description }} {% endif %}</span>
						</div>
					</div>